<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="dev.langchain4j.gemini" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${dev.langchain4j:langchain4j-google-ai-gemini}"/>
    </resources>

    <dependencies>
        <module name="com.google.code.gson"/>
        <module name="dev.langchain4j"/>
        <module name="java.net.http"/>
        <module name="org.slf4j"/>
    </dependencies>
</module> 
